@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 15px;

    @include mobile {
        font-size: 16px;
    }

    @include tablet {
        font-size: 17px;
    }

    @include desktop {
        font-size: 18px;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: $primaryColor;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    list-style: none;
}

.container {
    margin: 0 auto;
    width: 95%;
    max-width: 1200px;
}

.btn {
    width: 100%;
    margin-bottom: 1em;
    max-width: 500px;
    padding: 1em;
    display: inline-block;
    font-weight: bold;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    transition: all 0.4s;
}

.btn-primary {
    color: #fff;
    background-color: $secondaryColor;
    &:hover {
        background-color: darken($secondaryColor, 10);
    }
}

.btn-secondary {
    color: $secondaryColor;
    background-color: #fff;
    &:hover {
        background-color: #f0f0f0;
    }
}