.grid {
    height: 100%;
    text-align: center;

    @include tablet {
        @include grid(2, 1em);
    }

    .svg {
        width: 75%;
        height: 100%;
        min-width: 280px;
        margin: 0 auto;
        padding: 1em 0;

        @include tablet {
            @include flex(column);
        } 

        h2 {
            margin-bottom: 1em;
        }
    }

    .buttons {
        height: 100%;
        padding: 1em 0;

        @include tablet {
            @include flex(column);
        } 
    }
}

.balance {
    h2 {
        font-size: 3rem;
    }
}

.reload {
    color: #fff;
    margin-bottom: 1rem;
    font-size: 2rem;
    cursor: pointer;
    &:hover {
        color: #f0f0f0;
    }
}